# EXAMPLE: Personal Workout Tracking Data

This Notebook provides an example on how to import data downloaded from a specific service Apple Health.

NOTE: This is still a work-in-progress.

# Dependencies and Libraries

In [1]:
from datetime import date, datetime as dt, timedelta as td
import pytz
import numpy as np
import pandas as pd

In [2]:
# functions to convert UTC to Eastern time zone and extract date/time elements
convert_tz = lambda x: x.to_pydatetime().replace(tzinfo=pytz.utc).astimezone(pytz.timezone('US/Eastern'))
get_year = lambda x: convert_tz(x).year
get_month = lambda x: '{}-{:02}'.format(convert_tz(x).year, convert_tz(x).month) #inefficient
get_date = lambda x: '{}-{:02}-{:02}'.format(convert_tz(x).year, convert_tz(x).month, convert_tz(x).day) #inefficient
get_day = lambda x: convert_tz(x).day
get_hour = lambda x: convert_tz(x).hour
get_day_of_week = lambda x: convert_tz(x).weekday()

# Import Data

# Workouts

In [3]:
# apple health
workouts = pd.read_csv("C:/Users/brand/Desktop/Healthcare Info Systems/90day_workouts.csv")

workouts.head()

,Type,Start,End,Duration,Distance,Average Heart Rate,Max Heart Rate,Average Pace,Average Speed,Average Cadence,Active Energy,Total Energy,Elevation Ascended,Elevation Descended,Weather Temperature,Weather Humidity
0,High Intensity Interval Training,11/2/2020 18:13,11/2/2020 19:04,0:51:19,NaN,132.885246,166,NaN,NaN,NaN,403.779,510.236,NaN,NaN,8.333333,41
1,Stair Climbing,10/31/2020 11:21,10/31/2020 11:58,0:36:12,NaN,150.785714,169,NaN,NaN,NaN,356.326,437.390,NaN,NaN,12.777778,52
2,Traditional Strength Training,10/31/2020 10:52,10/31/2020 11:21,0:28:49,NaN,129.920168,165,NaN,NaN,NaN,220.743,267.130,NaN,NaN,11.666667,61
3,Indoor Walking,10/29/2020 17:44,10/29/2020 18:23,0:38:54,2.558922,136.754098,149,0:15:12,3.946651,91.594429,249.822,333.331,NaN,NaN,24.444444,45
4,Indoor Walking,10/26/2020 19:50,10/26/2020 20:29,0:38:53,2.593661,132.868421,151,0:14:59,4.001231,90.009114,268.838,349.355,NaN,NaN,19.444444,90

# Drop unwanted metrics

In [6]:
new_workouts = workouts.drop(['Average Pace','Average Speed','Average Cadence','Elevation Ascended','Elevation Descended','Weather Temperature','Weather Humidity'], axis=1)

new_workouts.head()

,Type,Start,End,Duration,Distance,Average Heart Rate,Max Heart Rate,Active Energy,Total Energy
0,High Intensity Interval Training,11/2/2020 18:13,11/2/2020 19:04,0:51:19,NaN,132.885246,166,403.779,510.236
1,Stair Climbing,10/31/2020 11:21,10/31/2020 11:58,0:36:12,NaN,150.785714,169,356.326,437.390
2,Traditional Strength Training,10/31/2020 10:52,10/31/2020 11:21,0:28:49,NaN,129.920168,165,220.743,267.130
3,Indoor Walking,10/29/2020 17:44,10/29/2020 18:23,0:38:54,2.558922,136.754098,149,249.822,333.331
4,Indoor Walking,10/26/2020 19:50,10/26/2020 20:29,0:38:53,2.593661,132.868421,151,268.838,349.355

# Create Avg HR Intesnity

In [18]:
new_workouts['Avg Heart Rate Intensity'] = new_workouts['Average Heart Rate'] / 186 #find out how to use input for anyones age

new_workouts.tail()

,Type,Start,End,Duration,Distance,Average Heart Rate,Max Heart Rate,Active Energy,Total Energy,Avg Heart Rate Intensity
49,High Intensity Interval Training,8/10/2020 18:18,8/10/2020 19:00,0:42:21,NaN,126.100233,160,324.591,413.283,0.677958
50,Stair Climbing,8/7/2020 13:09,8/7/2020 13:44,0:35:01,NaN,141.562500,156,311.494,391.825,0.761089
51,Traditional Strength Training,8/7/2020 12:31,8/7/2020 13:09,0:38:13,NaN,116.569966,151,221.710,282.410,0.626720
52,High Intensity Interval Training,8/6/2020 18:07,8/6/2020 18:39,0:32:00,NaN,141.124242,178,282.091,339.368,0.758732
53,Indoor Walking,8/5/2020 12:10,8/5/2020 12:43,0:33:21,2.294242,97.478261,110,136.301,211.035,0.524077

#  Exercise Guidelines

In [13]:
# Minutes of Weekly Exercise

def getExer():
    global ex_time
    
    ex_time = input("Enter weekly exercise time in minutes: ")

    print("For more educational information on recommended daily exercise for adults, visit", "\nhttps://health.gov/paguidenes/second-edition/pdf/Physical_Activity_Guidelines_2nd_edition.pdf#page=55")
    print()
    
    if int(ex_time) <= 149:
         print("Your daily exercise time of", ex_time, "is less than recommended. Consider increasing it to achieve at least 150 minutes per week to improve your health.")
    elif int(ex_time) >= 150 and int(ex_time) <= 300:
         print("Your daily exercise time of", ex_time, "is within the recommended amount. Achieving 150-300 minutes per week will continue to improve your health.")
    elif int(ex_time) >= 301:
         print("Your daily exercise time of", ex_time, "exceeds the recommended amount. Your weekly total should benefit your health.")
    else:
         print("Invalid entry for minutes of daily exercise")

getExer()

Enter weekly exercise time in minutes: 90
For more educational information on recommended daily exercise for adults, visit
https://health.gov/paguidelines/second-edition/pdf/Physical_Activity_Guidelines_2nd_edition.pdf#page=55

Your daily exercise time of 90 is less than recommended. Consider increasing it to achieve at least 150 minutes per week to improve your health.